.uno {
  margin: auto;
  width: 30%;
  background-color: aqua;
  align-content: center;
  text-align: center;
}


img {
 
  /* text-align: center; */
  display: block;
  margin: auto;
}


.izq{

}

.dcha{
    
}

.vert{

}


