p {
    color: #120ef2; 
  
  }

 .importante{
    background: #fbff03;
 } 

#titulo{
    font-size: 50px;
    color: aquamarine;
}

*{
    margin: 0%;
    padding: 0%;
}

[type = "text"]{
    border: 2px solid red
}


  